body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    width: 500px;
    height: 500px;
    border: solid 2px black;
    display: grid;
}

.grid-square {
    display: grid;
    border: solid 1px black;
    margin: 0;
    padding: 0;
}

.grid-square:hover {
    background-color: black;
}

.slidecontainer {
    padding: 20px;
    margin-top: 20px;
}